# Maven stuff
/*/target
/*/bin

# Test output
*/test*.html

# NetBeans stuff
nbactions.xml

# IntelliJ stuff
/.idea
*.iml
*.log

# Vim stuff
*.sw?

# Emacs stuff
*~

# Eclipse stuff
.project
.settings
.classpath
