<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %c{2} [%t] - %m%n"/>
        </Console>
        <File name="FILE" fileName="logs/exomiser.log" append="true" bufferedIO="true">
            <PatternLayout pattern="%d %-5p %c{2} [%t] - %m%n"/>
        </File>
<!--         Async Appender should be configured after the appenders it references. 
        This will allow it to shutdown properly.-->
        <Async name="ASYNC">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>